.money-1 {
            background-image: url(../cards/money-1.png)
        }
        
.prop-green-1 {
            background-image: url(../cards/prop-green-1.png)
        }
        
.prop-pink-2 {
            background-image: url(../cards/prop-pink-2.png)
        }
        
.prop-utility-2 {
            background-image: url(../cards/prop-utility-2.png)
        }
        
.prop-yellow-2 {
            background-image: url(../cards/prop-yellow-2.png)
        }
        
.money-10 {
            background-image: url(../cards/money-10.png)
        }
        
.prop-green-2 {
            background-image: url(../cards/prop-green-2.png)
        }
        
.prop-pink-3 {
            background-image: url(../cards/prop-pink-3.png)
        }
        
.prop-any {
            background-image: url(../cards/prop-any.png)
        }
        
.prop-yellow-3 {
            background-image: url(../cards/prop-yellow-3.png)
        }
        
.money-2 {
            background-image: url(../cards/money-2.png)
        }
        
.prop-green-3 {
            background-image: url(../cards/prop-green-3.png)
        }
        
.prop-rail-1 {
            background-image: url(../cards/prop-rail-1.png)
        }
        
.prop-wc-lblue-brown {
            background-image: url(../cards/prop-wc-lblue-brown.png)
        }
        
.rent-any {
            background-image: url(../cards/rent-any.png)
        }
        
.money-3 {
            background-image: url(../cards/money-3.png)
        }
        
.prop-lblue-1 {
            background-image: url(../cards/prop-lblue-1.png)
        }
        
.prop-rail-2 {
            background-image: url(../cards/prop-rail-2.png)
        }
        
.prop-wc-dblue-green {
            background-image: url(../cards/prop-wc-dblue-green.png)
        }
        
.rent-brown-lblue {
            background-image: url(../cards/rent-brown-lblue.png)
        }
        
.money-4 {
            background-image: url(../cards/money-4.png)
        }
        
.prop-lblue-2 {
            background-image: url(../cards/prop-lblue-2.png)
        }
        
.prop-rail-3 {
            background-image: url(../cards/prop-rail-3.png)
        }
        
.prop-wc-green-rail {
            background-image: url(../cards/prop-wc-green-rail.png)
        }
        
.rent-green-dblue {
            background-image: url(../cards/rent-green-dblue.png)
        }
        
.money-5 {
            background-image: url(../cards/money-5.png)
        }
        
.prop-lblue-3 {
            background-image: url(../cards/prop-lblue-3.png)
        }
        
.prop-rail-4 {
            background-image: url(../cards/prop-rail-4.png)
        }
        
.prop-wc-lblue-rail {
            background-image: url(../cards/prop-wc-lblue-rail.png)
        }
        
.rent-pink-orange {
            background-image: url(../cards/rent-pink-orange.png)
        }
        
.prop-brown-1 {
            background-image: url(../cards/prop-brown-1.png)
        }
        
.prop-orange-1 {
            background-image: url(../cards/prop-orange-1.png)
        }
        
.prop-red-1 {
            background-image: url(../cards/prop-red-1.png)
        }
        
.prop-wc-orange-pink {
            background-image: url(../cards/prop-wc-orange-pink.png)
        }
        
.rent-rail-utility {
            background-image: url(../cards/rent-rail-utility.png)
        }
        
.prop-brown-2 {
            background-image: url(../cards/prop-brown-2.png)
        }
        
.prop-orange-2 {
            background-image: url(../cards/prop-orange-2.png)
        }
        
.prop-red-2 {
            background-image: url(../cards/prop-red-2.png)
        }
        
.prop-wc-yellow-red {
            background-image: url(../cards/prop-wc-yellow-red.png)
        }
        
.rent-red-yellow {
            background-image: url(../cards/rent-red-yellow.png)
        }
        
.prop-dblue-1 {
            background-image: url(../cards/prop-dblue-1.png)
        }
        
.prop-orange-3 {
            background-image: url(../cards/prop-orange-3.png)
        }
        
.prop-red-3 {
            background-image: url(../cards/prop-red-3.png)
        }
        
.prop-wc-utility-rail {
            background-image: url(../cards/prop-wc-utility-rail.png)
        }
        
.prop-dblue-2 {
            background-image: url(../cards/prop-dblue-2.png)
        }
        
.prop-pink-1 {
            background-image: url(../cards/prop-pink-1.png)
        }
        
.prop-utility-1 {
            background-image: url(../cards/prop-utility-1.png)
        }
        
.prop-yellow-1 {
            background-image: url(../cards/prop-yellow-1.png)
        }
        
.pass-go {
            background-image: url(../cards/pass-go.png)
        }
        
.sly-deal {
            background-image: url(../cards/sly-deal.png)
        }

.forced-deal {
            background-image: url(../cards/forced-deal.png)
        }
        
.double-the-rent {
            background-image: url(../cards/double-the-rent.png)
        }

.hotel {
            background-image: url(../cards/hotel.png)
        }

.house {
            background-image: url(../cards/house.png)
        }

.deal-breaker {
            background-image: url(../cards/deal-breaker.png)
        }

.debt-collector {
            background-image: url(../cards/debt-collector.png)
        }

.just-say-no {
            background-image: url(../cards/just-say-no.png)
        }

.its-my-birthday {
            background-image: url(../cards/its-my-birthday.png)
        }
        